
.details{
    background-color: #234643  ;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    height:46.2rem;     

}
.details > * {
    flex-basis: 100%;
}
.nam{
    /* margin-left: -20rem; */
    /* margin-right: 20px; */
    /* background: rgb(71,71,71);
    background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(113,112,112,1) 20%, rgba(240,240,240,1) 100%);   */
    background-color: #89b9b4 ; 
    justify-content: center;
    backdrop-filter: blur(2px);

}
.name{
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 2em;
    border-radius: 5px;
    border:   #234643  solid 3px;
    background-color:  #3b605d  ; 
    height: 50px;
    width: 300px;
    display: center;
}

.imgDiv{
    /* background-color:  #e0e0e0; */
    background-color: #c6fffa;
    /* border: #89b9b4 solid 1px; */
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-radius: 8px;
    opacity: 0.99;
    margin-top: 200px;
    height: 310px;
    box-shadow: 11px 10px 20px -1px rgba(0,0,0,0.79);
    -webkit-box-shadow: 11px 10px 20px -1px rgba(0,0,0,0.79);
    -moz-box-shadow: 11px 10px 20px -1px rgba(0,0,0,0.79);
}
.img{
    width: 300px;
    height: 300px;
}

.stats{
    /* background-color: #CBCBCB;
    background: rgb(71,71,71);
    background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(113,112,112,1) 20%, rgba(240,240,240,1) 100%);  */
    background-color: #89b9b4 ; 
    margin-top: -1.5em;
    height: 300px;
    /* justify-content: center; */
    align-self: center;
}
.stats > * {
    height: 28px;
    margin-right: 2em;
    /* background-color: #a9a9a9;  */
    /* background-color: rgb(251,220,166); */
    
    background-color: #c6fffa;
    border: black solid 2px;
}

.hpDiv{
    /* background-color: indigo; */
    margin-left: 2rem;
    margin-top: 2rem;
    
}
.attackDiv{
    /* background-color: greenyellow; */
    margin-left: 2rem;
    margin-top: .5rem;
}
.defenseDiv{
    /* background-color: red; */
    margin-left: 2rem;
    margin-top: .5rem;
}
.heightDiv{
    /* background-color: blue; */
    margin-left: 2rem;
    margin-top: .5rem;
}
.weightDiv{
    /* background-color: goldenrod; */
    margin-left: 2rem;
    margin-top: .5rem;
}

.typesDiv{
    /* background-color: saddlebrown; */
    margin-left: 2rem;
    margin-top: .5rem;
    text-transform: capitalize;
    height: 70px;
    /* border-color: black solid 10px; */
}

.type{
    justify-self: center;
    display:flexbox;
    margin-bottom: -16px;
}

