.nav{
    position: fixed;
    float: left;
    width: 100px;
    height: 45px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: #a3ebe5;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    
}
.btn{
    text-decoration: none;
    color: #585858;
}
.nav:hover{
    border: 1px;
   border-color: #585858;
   background-color:  #ff8686;
}
