
.pokemons{
    display: flex;
    flex-wrap: wrap;
    border: 50px;
    border-color: black;
    background-color: #234643;
} 
    
.waiting{
    font-size: 24px;
    background-color: #234643;
    flex-grow: 999;
    padding: 400px;
}

.group{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
    background-color: #234643;
}